In [31]:
import pandas as pd
import numpy as np
import os 
import matplotlib.pyplot as plt
import cv2

In [32]:
df = pd.read_csv("../dataset.csv")
df.head()

,image,bbox,cx,cy,w,h,class_name,image_id,class_id,SL_P1_x,SL_P1_y,SL_P2_x,SL_P2_y,lat,long,height,time,points
0,wuhan_view1_101.png,0.6225 0.3775 0.28 0.2,0.62250,0.37750,0.2800,0.2000,building,0,0,1.0975,0.7025,1.0975,0.6725,30.516718,114.161909,6,2016-02-01-6,"((193, 111), (305, 191))"
1,wuhan_view1_101.png,0.9125 0.655 0.175 0.27,0.91250,0.65500,0.1750,0.2700,building,0,0,1.5675,1.0925,1.5775,1.0600,30.516718,114.161909,6,2016-02-01-6,"((330, 208), (400, 316))"
2,wuhan_view1_101.png,0.88375 0.80125 0.1475 0.1175,0.88375,0.80125,0.1475,0.1175,building,0,0,1.4950,1.3750,1.5075,1.3450,30.516718,114.161909,6,2016-02-01-6,"((324, 297), (383, 344))"
3,wuhan_view1_101.png,0.5825 0.80625 0.07 0.0575,0.58250,0.80625,0.0700,0.0575,building,0,0,1.0075,1.4325,1.0000,1.3825,30.516718,114.161909,6,2016-02-01-6,"((219, 311), (247, 334))"
4,wuhan_view1_101.png,0.58625 0.93375 0.0825 0.1075,0.58625,0.93375,0.0825,0.1075,building,0,0,1.0125,1.6525,1.0125,1.5875,30.516718,114.161909,6,2016-02-01-6,"((218, 352), (251, 395))"

In [33]:
small_building_df = df[df.height <= 30]
large_building_df = df[df.height > 30]
test_size = int(len(df) * 0.1)
test_size

4568

In [34]:
small_building_df = small_building_df.sample(test_size)
large_building_df = large_building_df.sample(test_size)

train_df = df.query("index not in @small_building_df.index")
train_df = train_df.query("index not in @large_building_df.index")

train_df.shape[0]

small_building_df.to_csv("small_building_dataset.csv", index=False)
large_building_df.to_csv("large_building_dataset.csv", index=False)

# train_df