In [1]:
import pandas as pd
import numpy as np
import os 
import matplotlib.pyplot as plt
import cv2

In [18]:
df = pd.read_csv("../dataset.csv")
df.head()

,image,bbox,cx,cy,w,h,class_name,image_id,class_id,SL_P1_x,SL_P1_y,SL_P2_x,SL_P2_y,lat,long,height,time,points
0,shanghai_view2_100.png,0.80875 0.655 0.1025 0.405,0.80875,0.65500,0.1025,0.4050,building,0,0,0.68000,0.44375,0.68000,0.42375,31.332769,121.378553,6,2017-06-06-7,"((303, 181), (344, 343))"
1,shanghai_view2_100.png,0.71375 0.58375 0.1025 0.1925,0.71375,0.58375,0.1025,0.1925,building,0,0,0.63750,0.57000,0.63375,0.55000,31.332769,121.378553,6,2017-06-06-7,"((265, 195), (306, 272))"
2,shanghai_view2_100.png,0.49 0.60875 0.105 0.0725,0.49000,0.60875,0.1050,0.0725,building,0,0,0.41250,0.53375,0.40875,0.51500,31.332769,121.378553,33,2017-06-06-7,"((175, 229), (217, 258))"
3,shanghai_view2_100.png,0.37625 0.6375 0.0925 0.09,0.37625,0.63750,0.0925,0.0900,building,0,0,0.33000,0.56000,0.32375,0.54500,31.332769,121.378553,33,2017-06-06-7,"((132, 236), (169, 273))"
4,shanghai_view2_100.png,0.2775 0.675 0.1 0.06,0.27750,0.67500,0.1000,0.0600,building,0,0,0.22375,0.59875,0.21750,0.58500,31.332769,121.378553,6,2017-06-06-7,"((91, 258), (131, 282))"

In [3]:
small_building_df = df[df.height <= 24]
large_building_df = df[df.height > 30]
test_size = int(len(df) * 0.1)
test_size

4568

In [4]:
small_building_df = small_building_df.sample(test_size)
large_building_df = large_building_df.sample(test_size)

train_df = df.query("index not in @small_building_df.index")
train_df = train_df.query("index not in @large_building_df.index")

train_df.shape[0]

small_building_df.to_csv("small_building_dataset.csv", index=False)
large_building_df.to_csv("large_building_dataset.csv", index=False)

# train_df

In [10]:
train_df.to_csv("train_dataset.csv", index=False)

In [2]:
temp = pd.read_csv("small_building_dataset.csv")
temp = temp.query("height >= 12 and height <= 24")
temp.to_csv("sugma.csv", index=False)

In [5]:
small_df = pd.read_csv("small_building_dataset.csv")
large_df = pd.read_csv("large_building_dataset.csv")
train_df = pd.read_csv("train_dataset.csv")

In [4]:
testDf = pd.concat([small_df, large_df])
len(testDf), len(testDf.image.unique())

(9136, 2066)

In [6]:
len(train_df), len(train_df.image.unique())

(36553, 2346)

In [15]:
train_images = list(train_df.image.unique())
test_images = list(testDf.image.unique())
total_images = set(train_images + test_images)
len(total_images)

2354

In [17]:
only_test_images = set(test_images) - set(train_images)
len(only_test_images)

8